# C/C++
*.o
*.obj
*.elf
*.bin
*.hex
*.map
build/
*.d

*.log
idea.md

# KiCad
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*backups/
_autosave-*
*fp-info-cache
~*.lck
*.lck
/hardware/mimic0x/mimic0x/**/*.pro

/hardware/mimic0x/**/*.net
/hardware/mimic0x/**/*.ipc
/hardware/mimic0x/**/*.csv
/hardware/mimic0x/**/*.pdf
/hardware/mimic0x/**/*.gerber
/hardware/mimic0x/**/*.gbr
/hardware/mimic0x/**/*.drl
/hardware/mimic0x/**/*.zip
/hardware/mimic0x/**/production/

/hardware/assembly/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store
Thumbs.db
._*
.Spotlight-V100
.Trashes
desktop.ini

# IDEs
.vscode/
.idea/
*.swp

# Arduino
/software/*.zip

# PlatformIO (Safety Net)
.pio/
.pioenvs/
/software/**/.gitignore
