# C/C++
*.o
*.obj
*.elf
*.bin
*.hex
*.map
build/
*.d

*.log
idea.md

# KiCad
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*backups/
_autosave-*
*fp-info-cache
~*.lck
*.lck
/hardware/**/*.pro

/hardware/**/*.net
/hardware/**/*.ipc
/hardware/**/*.csv
/hardware/**/*.pdf
/hardware/**/*.gerber
/hardware/**/*.gbr
/hardware/**/*.drl
/hardware/**/*.zip
/hardware/**/production/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store
Thumbs.db
._*
.Spotlight-V100
.Trashes
desktop.ini

# IDEs
.vscode/
.idea/
*.swp

# Arduino
/software/Mimic/src/mimic_registers.h

# PlatformIO (Safety Net)
.pio/
.pioenvs/
